body {
  /*
    CSS
    CCascading StyleSheet
  */
  background: #e5e5e5;
  color: #25282b;

  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #ff5E84;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p .description {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px
}

#container {
  width: 80%;
  max-width: 980px;
  margin: 40px auto;

  display: flex;
}

#intro {
  width: 300px;
  margin-right: 20px;
}

main {
  margin: 32px 0;
}

#buttons {
  display: flex;
  margin-bottom: 32px;
  justify-content: space-evenly;
}

button {
  background: none;
  color: #ff5E84;

  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;

  border: none;
  cursor: pointer;
  outline: none;

}

button:hover {
  text-decoration: underline;
}

button.fat {
  color: white;
  background: #ff5E84;
  width: 150px;
  height: 40px;
  border-radius: 6px;
  box-shadow: 0px 8px 16px rgba(255, 0, 92, 0.20);
}

button.fat:hover {
  text-decoration: none;
}


footer {
  text-align: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;

  color: #777;
}

footer a {
  opacity: 0.8;
}

.idea {
  display: flex;
  margin-bottom: 32px;
  padding: 32px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 16px -8px rgba(1, 1, 1, 0.1);

}

.idea img {
  width: 60px;
  height: 60px;
  margin-right: 32px;
}

.idea h3 {
  margin: 0;
}

.idea p {
  margin: 8px 0;
  color: #777;
}

.idea .description {
  margin: 16px 0;
}

/* modal */
#modal {
  background: #ff5E84;

  position: absolute;
  top: 0;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;

  transition: all 400ms;
}

#modal .content {
  margin-top: 128px;

  color: white;
}

#modal .content h1 {
  text-align: center;
  text-transform: uppercase;
}

#modal form {
  width: 80%;
  max-width: 800px;

  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 20px;
}

.content form div:nth-child(3),
.content form div:nth-child(4),
.content form div:nth-child(5) {
  grid-column: span 2;
}

form input,
form textarea {
  width: 100%;

  padding: 12px;
  box-sizing: border-box;

  border-radius: 6px;
  border: 1px solid rgba(141, 25, 52, 0.5);

  outline: none;

  font-size: 16px;
}

form label {
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.8px;
}

form a {
  width: 150px;
  height: 40px;

  background-color: #ffffff22;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  font-size: 14px;

  border-radius: 6px;

  align-self: end;

  transition: 400ms;
}

form a:hover {
  background: #fff;
  color: #ff5E84;

  text-decoration: node;
}

form button {
  background: white;

  width: 150px;
  height: 40px;

  border-radius: 6px;

  cursor: pointer;

  margin-top: 32px;

  grid-column: 2;
  justify-self: end;

  transition: 400ms;
}

form button:hover {
  background: #0984e3;
  color: white;

  text-decoration: none;
}

#modal.hide {
  opacity: 0;
  visibility: hidden;
}