{% for idea in ideas %}
  <div class="idea">
    <img
    src="{{idea.image}}"
    alt="Imagem de {{idea.title}}">

    <div class="content">
      <h3>{{ idea.title }}</h3>
      <p>{{idea.category}}</p>
      <div class="description">
        {{idea.description}}
      </div>
      <a href="{{idea.link}}" target="_blank">Ir para a Ideia</a>
    </div>
    <button onclick="getId(event)" class="trash">
      <img id={{idea.id}} src="https://image.flaticon.com/icons/svg/1214/1214428.svg">
    </button>
  </div>
{% endfor %}