{% extends "layout.html" %}

{% set bodyId = "page-ideias" %}

{% block title %}
  <title>Ideias - Casa Criativa</title>
{% endblock %}

{% block content %}
<header>
  <a href="/">
    <img src="logo.png" alt="Casa Alternativa">
  </a>
  <nav>
    <li><a href="/">Início</a></li>
    <li><a class="button" href="#" onclick="onOff()">Nova Ideia</a></li>
  </nav>
</header>

<section id="title">
  <p>em exibição</p>
  <h1>Ideias</h1>
</section>

<main>
  <section id="ideas">
    {% include "all_ideas.html" %}
  </section>
</main>

<footer>
  Com ♥️ <a href="http://rocketseat.com.br" target="_blank">Rocketseat</a>
</footer>
{% endblock %}